*{
  margin: 0;
  padding: 0;
 font-family: 'PT Sans', sans-serif;
}
.left{float:left;}
.right{float:right;}
.center{
   text-align: center;
}

body{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header{
  background-color: #ffcd34;
}
footer{
  background-color: #202e3b;
}
.container{
  width: 930px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #f44000;
}



/*ИЗ ДС БИН*/

.menu li{
  display:inline-block;
  /*padding: 10px;*/
  margin: 20px 10px;
  /*border: 1px solid #000;*/
  float: right;
/*   float */
  }

/*21*/
.menu li :hover{
 /*box-sizing: border-box;*/
  padding: 10px;
  margin: 0 -11px;
  border: 1px solid #666;
  color: black;
}

/*12*/
.menu li a{
    color: #666;
}

/*20*/
.menu .menu--active {
  color: #000;
}

.menu-call{
  padding: 10px;
  background-color: #ffe184;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  float: right;
  
}

.menu-call:hover{
  background-color: #ffecb2;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.page-nav {
  min-height: clear fix;
}

.page-nav a{
  text-decoration: none;
}

.logo b{
  font-size: 24px;
  color: #000;
  margin: 15px;
  display: inline-block;
vertical-align: middle;
}

.logo img{
  display: inline-block;
  vertical-align: middle;
}


/*ИЗ ДС БИН*/

/*И ЧЕ ТЕПЕРЬ ДЕЛАТЬ?*/

/*.promo:before{
  width: 100%;
  height: 13px;
  border: 1px solid #000;
  background-size: 25px 13px;

  background-repeat: repeat-x;
  background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%)
}*/

.promo:before{
content:"";
position: absolute;
left: 0;
top: -15px;
width: 100%;
height: 20px;
background-image: 
linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 35px 15px;
background-repeat: repeat-x;
}



.promo .container{
 background-image: url(../img/bgrpromo.jpg);
  background-position:center;
  height: 460px;
}

.promo-title{
  color: white;
  font-size: 44px;
  padding-top: 130px;
    display: inline-block;
}

.promo-text{
  font-size: 18px;
  max-width: 700px;
  display: inline-block;
 padding: 10px 0;
  color: white;
  /*font-weight: lighter;*/

}

.promo-btn{
  border: 2px solid #ffcd34;
  font-size: 18px;
  text-decoration: none;
  color: white;
padding: 5px 30px;
  }

.consultat{
  background-color: #202e3b;
}










































.catalog-item{
  display: inline-block;
  border: 1px solid #000;
}

.catalog-list{
  display: inline-block;
  border: 1px solid #000;
  
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.consult-form {
  display: block;
  margin: 0 auto;
  width: 90%;
  }
.about-numbers{
/*  display: inline-block;*/
}

.advantages-item{
  width: 16%;
  display: inline-block;
  margin-left: 70px;
}

.reviews
{
  display: inline-block;
  vertical-align: top;
}
.reviews-title, .about-title{
  font-size: 24px;
  font-weight: bold;
}
.reviews-pic{
  display: inline-block;

}

.inline li{
  display: inline-block;
}
.portfolio-cart{
  display: inline-block;
  background-color: white;
  padding: 30px;
  margin: 30px;
}
.portfolio-item--wood{
  background-image: url(../img/house.jpg);
}
.portfolio-item--house{
  background-image: url(../img/house.jpg);
}.portfolio-item--flor{
  background-image: url(../img/house.jpg);
}
.portfolio-item{
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.contacts-bar__map{
  background-color: pink;
  width: 60%;
  height: 300px;
  display: inline-block;
}
.contacts-bar__form{
  display: inline-block;
  vertical-align: top;
}
.contacts-reviews__item{
  width: 24%;
  display: inline-block;
}
.contacts-reviews__pic img{
  border: 0px solid black;
  border-radius: 50px;

}
.catalog-list{
  display: block;
  float: left;
  width: 75%;

}
.catalog-item{
display: inline-block;
background-color: white;
padding: 10px 20px;
border: 1px solid #000;
}

.catalog-menu{
  width: 25%;
  display: block;
  float: left;
}
.catalog-item__box{
  margin: 0 auto;
}
.catalog-item__title{
  font-size: 21px;
  
}

.catalog-item__price{
  font-family: PT Sans Bold;
  font-size: 27px;
  
}
.catalog-item__pic{
padding-left: 38px;
}
.catalog-item__btn{
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  

}
.catalog-item__btn--blue{
background-color: #354b60;
font-size: 16px;
}
.catalog-item__btn--yellow{
  background-color: #f3c331;
  font-size: 16px;
}