*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.left{float:left;}
.right{float:right;}
.center{
   text-align: center;
}
body{
font-family: 'PT Sans';
}
header{
  background-color: #ffcd34;
}
footer{
  background-color: #202e3b;
}
.container{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

/*INDEX*/

.menu li{
  display:inline-block;
  margin: 20px 10px;
  float: right;
  font-size: 16px;
  }
.menu li :hover{
  padding: 10px;
  margin: 0 -11px;
  border: 1px solid #666;
  color: black;
}
.menu li a{
  color: #666;
}
.menu .menu--active {
  color: #000;
}
.menu-call{
  padding: 10px;
  background-color: #ffe184;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  float: right;
}
.menu-call:hover{
  background-color: #ffecb2;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.page-nav {
  min-height: clear fix;
    min-width: 960px;
}
.page-nav a{
  text-decoration: none;
}
.logo b{
  font-size: 24px;
  color: #000;
  margin: 15px;
  display: inline-block;
vertical-align: middle;
}
.logo img{
  display: inline-block;
  vertical-align: middle;
}
.line{
  width: 100%;
  height: 13px;
  background-size: 25px 13px;
  background-repeat: repeat-x;
  background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%)
}
.promo{
 background-image: url(../img/bgrpromo.jpg);
  background-position:center;
  background-size: cover;
  position: relative;
  min-width: 960px;
}
.promo:before{
content:"";
position: absolute;
left: 0;
width: 100%;
min-width: 960px;
height: 10px;
background-image: 
linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 28px 18px;
background-repeat: repeat-x;}

.promo .container{

  height: 460px;
  padding-top: 130px;
}
.promo-title{
  color: white;
  font-size: 44px;
    display: inline-block;
}
.promo-text{
  font-size: 18px;
  max-width: 700px;
  display: inline-block;
 padding: 10px 0 30px 0px;
  color: white;
  width: 620px;
  font-weight: 400;
}
.promo-btn {
  border: 2px solid #ffcd34;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 13px 53px 13px 15px;
  position: relative;
}
.promo-btn:before{
  content: ">";
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 20px;
  font-size: 30px;

}

.consultat{
  background-color: #202e3b;
  position: relative;
  min-width: 960px;
}
.consultat:before{
content:"";
position: absolute;
left: 0;
width: 100%;
height: 10px;
background-image: 
linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 28px 18px;
background-repeat: repeat-x;
min-width: 960px;
}
.consult-title{
    color: #ffcd34;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;

}
.consult-form {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 38px;
  color: #202e3b;
  } 

.consult-form input {
    display: inline-block;
    vertical-align: top;
    color: white;
    background-color: transparent;
    border: 2px solid #ffcd34;
}
.consult-form__text{
  background-color: #202e3b;
  font-size: 16px;
  border-color: #ffcd34;
  margin-right: 15px;
  padding: 15px 15px;
  width: 220px;
}
.consult-form__date{
  background-color: #202e3b;
  font-size: 16px;
  border-color: #ffcd34;
  margin-right: 15px;
  padding: 15px 15px;
  width: 220px;
  position: relative;
}


.consult-form .consult-form__btn {
background-color: #ffcd34;
/*padding: 15px ;*/
border: 0px solid ;
width: 220px;
height: 52px;
font-weight: 700;
font-size: 16px;
color: #202e3b;
}

.sprite {
    background-image: url(https://pp.vk.me/c637428/v637428479/11e19/qGdkbXjhGv8.jpg);
    background-repeat: no-repeat;
    display: inline-block;
}
.sprite-crash {
    width: 46px;
    height: 40px;
    background-position: -5px -5px;
}
.sprite-drive {
    width: 31px;
    height: 40px;
    background-position: -61px -5px;
}
.sprite-fencing {
    width: 42px;
    height: 40px;
    background-position: -5px -55px;
}
.sprite-tech {
    width: 42px;
    height: 40px;
    background-position: -102px -5px;
}
.advantages-item{
  width: 24%;
  display: inline-block;
  margin-right: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
} 
.advantages-item:first-child{
  margin-left: 0px;
} 
.advantages-item:last-child{
} 
.advantages-item__text{
width: 70%;
font-size: 12px;
margin-left: 15px;
font-weight: 400;
display: inline-block;
}
.main-price{
  background-color: #f3f3f3;
  padding: 40px 0;
  min-width: 960px;
}
.price{
  width: 220px;
  margin-right: 20px;

}
.price-title{
  font-size: 26px;
}
.price-menu li a{
  color: #202e3b;
  font-size: 16px;
}
aside li {
  list-style-type: none;
  padding-bottom: 20px;
  color: #202e3b;
}
aside li:first-child {
  padding-top: 20px;
}
.offers{
  width: 700px;
  float: left;
}
.offers-table{
   margin-top: 30px;
  border-collapse: collapse;
  font-size: 16px;
  width: 100%;
}
.offers-table td {
  padding: 10px;
}
tr:first-child{
  background-color: #dfdfdf;
  font-weight: 700;
}
tr:nth-of-type(even){
  background-color: #f3f3f3;
}
tr:nth-of-type(2n+3){
background-color: #ffffff;
}
.about{
  background-color: #202e3b;
  color: white;
  padding: 40px 0;
  position: relative;
  min-width: 960px;
}
.about:before{
content:"";
position: absolute;
left: 0;
top: -10px;
width: 100%;
height: 10px;
background-image: 
linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 28px 18px;
background-repeat: repeat-x;}
.about-numbers{
  /*border: 1px solid #000;*/
  float: left;
  width: 300px;
  margin-right: 20px;
}
.about-num{
  color: #f1b132;
  font-size: 38px;
  margin-right: 20px;
  vertical-align: middle;
}
.about-facts{
  font-size: 18px;
  margin-top: 20px;
}
.reviews{
  float: left;
  vertical-align: top;
  width: 620px;
}
.reviews-title, .about-title{
  font-size: 26px;
  font-weight: bold;
}
.about-comment{
  color: #9e9e9e;
  font-weight: 700;
}
.reviews-item{
  overflow: hidden;
  margin: 30px 0;
}
.reviews-pic {
  border: 3px solid #f1b132;
  border-radius: 10px;
  float: left;
  overflow: hidden;
  font-size: 0;
}
.reviews-item blockquote{
  width: 470px;
  margin-left: 20px;
  float: left;
font-style: italic;
}
.reviews-item cite{
   width: 477px;
  display: block;
  color: #f1b132;
  font-style: normal;
  font-weight: 700;
}
.index-map{
  position: relative;
  min-width: 960px;
}
.index-map:before{
content:"";
position: absolute;
left: 0;
top: -10px;
width: 100%;
height: 10px;
background-image: 
linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 28px 18px;
background-repeat: repeat-x;
}
.menu-footer{
  overflow: hidden;

}
.menu-footer li{
  display:inline-block;
  margin: 20px 10px;
  float: right;
  }
.menu-footer li a{
    color: white;
    font-size: 16px;
}
.menu-footer li :hover{
  padding: 10px;
  margin: 0 -11px;
  border: 1px solid #666;
}
.menu-footer__call{
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  float: right;
 color: #f1b132;
 vertical-align: middle;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.page-nav {
  min-height: clear fix;
}
.page-nav a{
  text-decoration: none;
}
.logo-footer b{
  font-size: 24px;
  color: #f1b132;
  margin: 15px;
  display: inline-block;
vertical-align: middle;
}
.logo-footer img{
  display: inline-block;
  vertical-align: middle;
}
/*INDEX END*/






















































.clearfix:after {
  content: "";
  display: table;
  clear: both;
}











/*PORTFOLIO*/



.inline li{
  display: inline-block;
  padding-top: 45px;
}
.inline li a{
    color: white;
    margin-left: 35px;
}

.portfolio-head{
/*height: 115px;*/
background-image: url(../img/potrfoliomenubgr.jpg);
background-repeat: no-repeat;
background-position: center;
overflow: hidden;
background-size: cover;
min-width: 960px;
}
.portfolio-title{
  color: #ffcd34;
  font-size: 24px;
  padding: 40px 0;
vertical-align: middle;
display: inline-block;
}

.portfolio-item{
  position: relative;
  min-width: 960px;
}
.portfolio-item:before{
content:"";
position: absolute;
left: 0;
top: 0px;
width: 100%;
height: 5px;
background-color: #000; 
/*background-size: 35px 15px;*/
background-repeat: repeat-x;}
.portfolio-item--wood{
  background-image: url(../img/wood.jpg);
}
.portfolio-item--house{
  background-image: url(../img/house.jpg);
}
.portfolio-item--floor{
  background-image: url(../img/floor.jpg);
}

.portfolio-cart{
  display: inline-block;
  background-color: white;
  padding: 30px 30px 50px 30px;
  margin: 102px 0 152px 0;
  width: 35%;
}
.portfolio-item{
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.portfolio-item__title{
  font-size: 20px;
}
.portfolio-item__text{
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.portfolio-item__btn{
  background-color: #ffcd34;
  text-decoration: none;
  color: black;
  padding: 10px 40px 10px 15px;
  font-weight: 700;
  position: relative;
}
.portfolio-item__btn:before{
  content: ">";
  position: absolute;
  font-weight: 700;
  font-size: 28px;
  top: 0px;
  right: 10px;
}

















.contacts-subheader{
  background-image: url(../img/bgrcontacts.jpg);
  height: 105px;
  min-width: 960px;

}
.contacts-subheader__title{
  display: inline-block;
  vertical-align: baseline;
  margin-top: 35px;
  margin-right: 10px;
  font-size: 26px;
  color: #ffcd34;
}
.contacts-subheader__description{
    display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
  color: white;
}
.contacts-subheader__btn{
  color: #000;
  text-decoration: none;
  font-size: 18px;
  background-color: #ffcd34;
  padding: 15px;
  display: inline-block;
  margin-top: 25px;
  font-weight: 700;
}

.contacts-bar{
  background-color: #f3f3f3;
  padding: 40px 0 50px 0;
  overflow: hidden;
    min-width: 960px;
}
.contacts-bar__map{
  width: 620px;
  height: 395px;
  float: left;
  margin-right: 20px;
}
.contacts-bar__form{
  /*border: 1px solid #000;*/
  width: 300px;
  float: left;
  position: relative;
}
.contacts-bar__form__phone:before{
  content: "";
  position: absolute;
  background-image: url(../img/phone.png);
  width: 20px;
  height: 20px;
  top: 0px;
  left: 3px;
  /*display: inline-block;*/
}
.contacts-bar__form__mail:before{
  content: "";
  position: absolute;
  background-image: url(../img/mail.png);
  width: 23px;
  height: 17px;
top: 47px;
left: 0;
  /*display: block;*/
  
}
.contacts-bar__form__phone{
  /*padding: px;*/
  display: inline-block;
margin-left: 32px;
font-size: 18px;
text-decoration: none;
color: #000;
margin-bottom: 20px;
font-weight: 700;
}
.contacts-bar__form__mail{
  /*padding: 20px;*/
  display: block;
  margin-left: 32px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  margin-bottom: 18px;
  font-weight: 700;
  /*margin: 5px 0;*/
}

.contacts-bar__form__comment-form{
  font-size: 16px;

}
.contacts-form input{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  color: #999;
  padding-left: 10px;
}
.contacts-form textarea{
  display: block;
  
  height: 96px;
  padding: 10px;
  font-family: 'PT sans';
  font-size: 14px;
  resize: none;
  margin: 10px 0px 0px 0px; width: 300px; height: 96px;


}

.contacts-form input:last-child{
height: 45px;
background-color: #354b60;
color: white;
border: none;
padding-left: 0;
margin-top: 0;
}
.contacts-title{
  font-size: 26px;
  color: #202e3b;
  margin-bottom: 20px;
}
.contacts-reviews{
  padding: 37px 0 0px 0;
}
.contacts-reviews__item{
  width: 220px;
  display: inline-table;
}
.contacts-reviews__pic img{
  border: 0px solid black;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}
.contacts-reviews__text blockquote {
width: 220px;
margin: 0;
font-style: italic;
margin-top: 26px;
  color: #202e3b;
  margin-bottom: 60px;
}
.contacts-reviews__text cite{
  color: #202e3b;
display: inline-block;
font-weight: 700;
font-style: normal;
margin-top: 15px;
} 


.catalog{
  background-color: #f3f3f3;
  padding-top: 30px;
  min-width: 960px;
}
.catalog-subheader{
  background-image: url(../img/bgrcatalog.jpg);
  height: 190px;
  overflow: hidden;
  /*position: relative;*/
  box-sizing: border-box;
  min-width: 960px;
}
.catalog-subheader--left{
  /*position: absolute;*/
  width: 650px;
  /*border: 1px solid pink;*/
  float: left;
  margin-top: 45px;
}


.catalog-subheader--right{
  width: 240px;
  /*border: 1px solid red;*/
  float: right;
  margin-top: 45px;
  /*text-align: right;*/
}
.catalog-title{
  color: #ffcd34;
  font-size: 26px;
}
.catalog-subheader__btn{
  background-color:  #ffcd34;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: white;
  padding-left: 30px;
  display: inline-block;
}
.catalog-subheader__text{
  color: white;
  margin-top: 10px;
}








/**/







.catalog-list{
  display: block;
  /*float: right;*/
  width: 75%;
 padding-left: 80px;
 padding-bottom: 46px;
  /*border: 1px solid #000;*/
  font-size: 0;
  float: left;
}
.catalog-description{
  color: white;
  margin-top: 10px;
}


.catalog-menu{
  width: 25%;
  display: block;
  float: left;
  /*border: 1px solid #000;*/
  position: relative;
}
.catalog-menu__title{
font-size: 26px;
margin-left: 40px;
}
.catalog-menu__title:before{
content: "";
position: absolute;
background-image: url(../img/icocatalog.png);
height: 24px;
width: 31px;
margin-left: -40px;
margin-top: 3px;
}
.catalog-menu li a{
  color: #353535;
}

.catalog-menu__link--active{
text-decoration: none;
margin-left: 35px;
position: relative;
}
.catalog-menu__link--active:before {
  content: ">";
  position: absolute;
font-size: 20px;
color: black;
left: -20px;
top: -3px;
}

.catalog-menu__btn{
  text-decoration: none;
  color: white;
  /*border: 1px solid #000;*/
  padding: 10px 0;
  width: 100%;
  display: inline-block;
  background-color: #354b60;
  padding-left: 30px;
  /*text-align: center;*/
  position: relative;
}

.catalog-menu__btn:before{
  content: "";
  position: absolute;
  background-image: url(../img/icopdf.png)
  width: 17px;
  height: 18px;
  
  /*ГДЕ МОЯ ИКОНКА???*/
}




















.catalog-item__box{
  margin: 0 auto;
  font-size: 0;
}
.catalog-item__title{
  font-size: 21px;
  margin-bottom: 30px;
}

.catalog-item__price{

  font-size: 22px;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 700;
}
.catalog-item__currency{
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
  font-weight: 700;

}
.catalog-item__price--old{

  font-size: 22px;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 700;
  color: red;
  margin-right: 10px;
  /*text-decoration: line-through;*/
  position: relative;
}


.catalog-item__pic{
margin-left: 10px;
margin-bottom: 32px;
}
.catalog-item__btn{
  text-decoration: none;
  padding: 10px 20px;
  color: white;
}
.catalog-item__btn--blue{
background-color: #354b60;
font-size: 16px;
}
.catalog-item__btn--yellow{
  background-color: #f3c331;
  font-size: 16px;
}
/*ШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШШ -->

*/
.catalog-item{
/*display: inline-block;*/
overflow: hidden;
background-color: white;
padding: 28px 28px;
/*border: 1px solid pink;*/
width: 300px;
height: 400px;
margin: 0 0px 20px 10px;
  display: inline-block;

}

.catalog-item:nth-of-type(2n+1){
margin: 0 10px 20px 0;
}

.catalog-item--sale{
  position: relative;
  overflow: hidden;
}
.catalog-item--sale:before{

  position: absolute;
  content: "sale";
  font-size: 16px;
  background-color: #d12222;
font-weight: 700;
color: white;
 transform: rotate(45deg);
 top: 10px;
 right: -30px;
 width: 100px;
 text-align: center;
}
.catalog-item--new{
  position: relative;
  overflow: hidden;

}
.catalog-item--new:before{

    position: absolute;
  content: "new";
  font-size: 16px;
  background-color: #00c22e;
font-weight: 700;
color: white;
 transform: rotate(45deg);
 top: 8px;
 right: -30px;
 width: 100px;
 /*height: 30px;*/
 text-align: center;
 padding: 5px 0 5px 0;
}

.catalog-list__nav li a{
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: #353535;
}
.catalog-list__nav{
  text-align: center;
margin-top: 40px;
}
.catalog-list__nav li {
  display: inline-block;
    margin-left: 10px;
  margin-right: 10px;
  color: #353535;
}
.catalog-list__nav li:first-child{
background-color: #353535;
padding: 5px;
border-radius: 6px;
color: white;

text-decoration: none;
display: inline-block;
}

.catalog-list__link__pag--active{
color: white !important;
}



/*СПЕЦПРЕДЛОЖЕНИЯ*/

.catalog-offers{
  padding-top: 45px;
  padding-bottom: 50px;
  background-image: url(../img/bgrspecadvice.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0px;
  min-width: 960px;
}
.catalog-item__specadvice{
  background-color: white;
  padding: 28px 28px;
  width: 300px;
  height: 400px;
  display: inline-block;
  overflow: hidden;
 
}
.catalog-item__specadvice:nth-child(3){
 margin-left: 20px;
 margin-right: 20px;
}
.catalog-offers__title{
  font-size: 26px;
  color: white;
  margin-bottom: 25px;
}