.left{float:left;}
.right{float:right;}
.center{
   text-align: center;
}
.page-nav li {display:inline-block;}
.page-nav {min-height: 75px;}

.container{
  width: 930px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #f44000;
  min-height: 75px;
}

/*930*/
.subheader{
  
}
.catalog-item{
  display: inline-block;
  border: 1px solid #000;
}

.catalog-list{
  display: inline-block;
  border: 1px solid #000;
  
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}